<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        <li>
            {{hostname}}
        </li>
    </ul>
    <form method="post" action="{% url 'change_ip_address' %}">
        {% csrf_token %}
        <h1>Check network session from {{ hostname }} server.</h1>
        <input type="text" name="ip_address" placeholder="Current Ip Address">
        <input type="text" name="username" placeholder="Enter username">
        <input type="password" name="password" placeholder="Enter password">
        <input type="text" name="new_ip_address" placeholder="New Ip Address">
        <input type="submit" value="Connect">
    </form>
    <br>
</body>
</html>